<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="progress mb-4" style="height: 5px">
        <div
          class="progress-bar"
          role="progressbar"
          [style.width.%]="(currentStageIndex() + 1) * 33"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>

      <div class="card shadow-sm border-0">
        <div class="card-header bg-white border-bottom-0 pt-4 pb-0">
          <h4 class="card-title text-center mb-0">Security Check</h4>
          <p class="text-center text-muted small">Step {{ currentStageIndex() + 1 }}</p>
        </div>

        <div class="card-body">
          <div class="alert alert-secondary text-center">
            <strong>{{ currentStage().prompt }}</strong>
          </div>

          @if (currentStage(); as stage) {
            @switch (stage.type) {
              @case ('image') {
                <app-image-grid
                  [data]="stage.data"
                  [initialSelection]="currentAnswer() || []"
                  (selectionChange)="onSelectionChange($event)"
                >
                </app-image-grid>
              }
              @case ('text') {
                <!-- <app-text-input
                  [data]="stage.data"
                  [initialAnswer]="currentAnswer() || ''"
                  (answerChange)="onSelectionChange($event)"
                >
                </app-text-input> -->
              }
            }
          }
        </div>

        <div class="card-footer bg-white border-top-0 pb-4 d-flex justify-content-between">
          @if (currentStageIndex() > 0) {
            <button class="btn btn-outline-secondary" (click)="handlePrev()">Back</button>
          }

          <button class="btn btn-primary px-4" [disabled]="!isStageValid" (click)="handleNext()">
            NEXT
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
